@charset "UTF-8";
body{
	font-family: '微软雅黑','Arial';
}
body,ul,ol,h1,h2,h3,h4,h5,h6,dl,p{
	margin: 0;
	padding: 0;
}
ul,ol,dl{list-style: none;}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: #000;
	display: inline-block;
}
img{
	vertical-align: middle;
	border: 0;
}
